<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<!--h1>
<a href = "/" > Buscando Huellas </a>
</h1-->
</div >


<div style="width: 40%; float:left">
<h3>Perdidos</h3>
{% for post in lost %} 
<div style="border-radius:25px; border: 2px solid #BBBBEE; padding: 20px;">
{% for i in images %}

{% if i.report_id.id == post.id %}
<img src='{{ MEDIA_URL }}{{ i.image }}' width="50%"/>

{% endif %}

{% endfor %}
<p > Nombre: {{ post.name }}, Raza: {{ post.breed}}, Género: {{ post.genre }} </p >
<p > Ciudad: {{ post.city }}, Zona: {{ post.zone}}, Barrio: {{ post.n_hood }} </p >
</div>
{% endfor %}
</div>


<div style="width: 40%; float:left">
<h3>Encontrados</h3>
{% for post in found %} 
<div style="border-radius:25px; border: 2px solid #BBEEBB; padding: 20px;">
{% for i in images %}

{% if i.report_id.id == post.id %}
<img src='{{ MEDIA_URL }}{{ i.image }}' height="150px"/>

{% endif %}

{% endfor %}
<p > Nombre: {{ post.name }}, Raza: {{ post.breed}}, Género: {{ post.genre }} </p >
<p > Ciudad: {{ post.city }}, Zona: {{ post.zone}}, Barrio: {{ post.n_hood }} </p >
</div>
{% endfor %}
</div>
</body>
<html>
