{% extends "base.html" %}

{% block content %}

<a href="/"> Volver <- </a>
<div>
<h1>{{ object }}</h1>
<div > 
{% for img in object.reportimage_set.all %}
<img style="height: 200px" src="{{ img.image.url }}" alt="image"> </img>
{% endfor %}

<div>
	<div> <b> <h3>{{ object.get_type_display }}</h3></b></div>
</div>
</div>
<div>
	<div> <b>Ciudad:</b> {{ object.city }}</div>
	<div> <b>Zona:</b> {{ object.get_zone_display }}</div>
	<div> <b>Barrio:</b> {{ object.n_hood }}</div>
</div>
<div>
	<div> <b>Nombre:</b> {{ object.name }}</div>
	<div> <b>Raza:</b> {{ object.breed }}</div>
	<div> <b>Genero:</b> {{ object.get_genre_display }}</div>
</div>
<div>
<div><b>Reportado por: </b>{{ object.reporter }}</div>
<div><b>Comentarios: </b>{{ object.comment }}<div>
<div><b>Publicado: </b>{{ object.pub_date|date }}</div>
</div>
</div>

{% endblock %}